/* *****************************************************************
 * filename : common.css
 * description : 변경된 reset / ui / button / input / color / common ( 공통으로 사용되는 CSS)
 * date : 2021-01-13
***************************************************************** */

/* reset(변경) */
body, input, button, select, textarea, sub { color:#434343; font-size:14px; font-weight: 100; font-family:'Noto sans KR', Roboto, '돋움', dotum, sans-serif; line-height:1.4; }
input, select, textarea { font-size:15px; }
/*button:focus, input:focus, select:focus, textarea:focus, a:focus {outline:1px dotted #222;} */
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
    body, input, button, select, textarea, sub, h1, h2, h3, h4 { font-family:arial, sans-serif; }
    select { padding-right:20px; background-size:8px auto; }
}
@media screen and (max-width:1024px) {
	input, select, textarea { font-size:14px; }
}
@media screen and (max-width:620px) {
	body, input, button, select, textarea, sub { font-size:13px; }
}

/* 출력 및 정렬 */
.hidden {position:absolute; width:0; height:0; margin:0; padding:0; background:none; font-size:0; line-height:0;}/* 화면출력:N, 포커스 이동:N */
.blind,.skip {position:absolute; top:-1000px; left:-10000px; overflow:hidden; font-size:1px; text-indent:-9999px; line-height:0;}/* 화면출력:N, 포커스 이동:Y */
.none {display:none !important;}
.overflow {overflow:hidden;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.clear:after {display:block; clear:both; content:'';}
.v_align {display:table-cell; vertical-align:middle;}

/* 테이블 */
.ovf_min {min-width:620px}
.ovf_min1 {min-width:900px}
.ovf_min2 {min-width:800px}
.ovf_min3 {min-width:700px}
.ovf_min4 {min-width:500px}
@media screen and (max-width:800px) {
	.ovf_wrap {overflow-x:auto; overflow-y: hidden;}	
}

/* ************** 폰트 스타일 ************** */
.btn-a-left { position: absolute; left:0; top:0; }
/*.btn-a-right { position: absolute; right:0; top:0; }*/
/* font align */
.t_left {text-align:left !important;}
.t_center {text-align:center !important;}
.t_right {text-align:right !important;}

/* font weight */
.fw_300 {font-weight:300 !important;}
.fw_500 {font-weight:500 !important;}
.fw_normal {font-weight:normal !important;}
.fw_bold {font-weight:bold !important;}

/* font size, letter-spacing */
.fz_14 {font-size:14px !important;}
.ls {letter-spacing:-1px;}

/* font color */
.t_red, .failed {color:#d23a3a !important;}
.t_navy {color:#1b386e !important;}
.t_blue, .success {color:#0053a5 !important;}
.t_orange {color:#e57c00 !important;}
.t_green {color:#0dab75 !important;}
.t_ltgray {color:#999999 !important;}
.t_pink {color:#ce0442 !important}
.t_gray {color:#888 !important;}
.t_black {color:#000 !important;}
.t_mint {color:#12ce8e !important;}

/* font-break*/
.t_break {word-break:break-all !important;}
.t_keep {word-break:keep-all !important;}

/* font point */
span.comment, p.comment {position:relative; margin-top:7px; padding-left:33px; color:#777; font-size:16px;}
span.comment:before, p.comment:before {display:inline-block; position:absolute; top:1px; left:0; width:24px; height:24px; border-radius:50%; background:#014298; content:'!'; color:#fff; font-size:15px; font-weight:bold; text-align:center; line-height:24px; vertical-align:middle;}
@media screen and (max-width:620px) {
	/* font point */
	span.comment, p.comment {margin-top:3px; padding-left:22px; font-size:14px }
	span.comment:before, p.comment:before {top:0; width:18px; height:18px; font-size:12px; line-height:18px;}

	/* font size, letter-spacing */
	.ls {letter-spacing:-0.3px;}
}

/* ************** 버튼 스타일 ************** */
/* 버튼 기본 */
.btn_st {display:inline-block; height:52px; position:relative; margin-bottom:3px; padding:0 30px; line-height:52px; vertical-align:middle; cursor:pointer; transition:all 0.15s ease-out; background:#fff; color:#333; border:1px solid rgba(0,0,0,0.2); font-size:16px; font-weight:normal;}
.btn_st:hover {background:#f0f0f0; text-decoration:none;}
.btn_st.tiny {height:42px; padding:0 6px; font-size:13px; line-height:31px;}
.btn_st.big {height:70px; width:400px; padding:0 6px; font-size:18px; letter-spacing:-1px;}

.btn_st2 {display:inline-block; width:200px; height:50px; position:relative; margin-bottom:3px; padding:0 25px; line-height:50px; vertical-align:middle; cursor:pointer; transition:all 0.15s ease-out; background:#fff; color:#333; border:1px solid rgba(0,0,0,0.2); font-size:18px; font-weight:normal}
.btn_st2:hover {background:#f0f0f0; text-decoration:none;}

.btn_site, .btn_down {position:relative; height:52px; padding:0 45px 0 15px; text-align:center; color:#444}
.btn_site:after, .btn_down:after {position:absolute; right:12px; display:block; width:20px; height:20px; content:'';}
 .btn_down:after { top:0; font-family:'xeicon'; content:'\e904'; font-size:22px}
.btn_down:hover:after, .btn_down:focus:after {color:#0a54a3;}

.btn_view {position:relative; color:#fff; background-color:#666d73; border-color:#666d73; font-weight:500; position:relative; height:60px; padding:0 80px 0 15px; font-size:20px; line-height:60px;}
.btn_view:after {position:absolute; right:20px; top:0; content:'\e942'; font-family:'xeicon'; font-size:14px;}
.btn_view:hover {border-color:#0053a5; background:#0053a5;}

/* line style */
.bor_st1 { border-bottom:2px solid #444444 !important; }
.bor_cle { border:none !important; }

/* 버튼 스타일 추가 */
.n-btn { position:relative; display:inline-block; padding: 0 33px; height:36px; line-height:35px; border-radius:3px; vertical-align:middle; transition:all 0.15s ease-out; background:#005CA1; color:#ffffff; font-size: 13px; }
.n-btn:hover { box-shadow: 0 5px 10px rgb(91,114,188,0.4); background-color:#0078C1; text-decoration:none; }
/*.n-btn:hover { box-shadow: 0 5px 10px rgb(99,94,190,0.4); background-color:#5e72b1; }*/

/* 상세검색 */
.n-btn.x-tune { padding: 0 15px 0 30px; background-color:#fff; color:#434343; border:1px solid #CED4DA; }
/*.n-btn.st1:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.x-tune:hover { background-color:#f7f7f7; }
.n-btn.x-tune:after { content:'\eb38'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; }

/* 등록 */
.n-btn.x-regi { padding: 0 28px 0 40px; }
/*.n-btn.st1:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.x-regi:after { content:'\e914'; display:block; position: absolute; left:20px; top: 1px; font-size: 16px; font-family:'xeicon'; }

/* 추가 */
.n-btn.x-add { padding: 0 28px 0 40px;  background-color:#00A891; }
.n-btn.x-add:hover { background-color:#00BBA1; }
/*.n-btn.st1:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.x-add:after { content:'\e914'; display:block; position: absolute; left:20px; top: 2px; font-size: 16px; font-family:'xeicon'; }

/* 초기화 */
.n-btn.x-refresh { padding: 0 21px 0 36px; background-color:#fff; color:#434343; border:1px solid #CED4DA; }
/*.n-btn.st2:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.x-refresh:hover { background-color:#f7f7f7; }
.n-btn.x-refresh:after { content:'\e973'; display:block; position: absolute; left:15px; top: 0; font-size: 16px; font-family:'xeicon'; }

/* 엑셀 다운로드 */
.n-btn.btn-excel-down { padding: 0 11px 0 30px; background-color:#fff; color:#17864C; border:1px solid #17864C; text-decoration:none; }
/*.n-btn.btn-excel:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.btn-excel-down:hover { background-color:#f7f7f7; }
.n-btn.btn-excel-down:after { content:'\eb7c'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; }

/* pdf 다운로드 */
.n-btn.btn-pdf-down { padding: 0 11px 0 30px; background-color:#fff; color:#176386; border:1px solid #176386; text-decoration:none; }
/*.n-btn.btn-excel:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.btn-pdf-down:hover { background-color:#f7f7f7; }
.n-btn.btn-pdf-down:after { content:'\eb7c'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; }

/* 엑셀 등록 */
.n-btn.btn-excel-regi { padding: 0 11px 0 30px; background-color:#fff; color:#17864C; border:1px solid #17864C; text-decoration:none; }
/*.n-btn.btn-excel:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.btn-excel-regi:hover { background-color:#f7f7f7; }
.n-btn.btn-excel-regi:after { content:'\eb7e'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; }

/* 전송 */
.n-btn.x-share { padding: 0 11px 0 30px; background-color:#fff; border:1px solid #DBE2E9; color:#434343; text-decoration:none; }
/*.n-btn.x-share:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.x-share:hover { background-color:#f7f7f7; }
.n-btn.x-share:after { content:'\e9fa'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; color:#586D83; }

/* 재등록 */
.n-btn.x-r-regi { padding: 0 11px 0 30px; background-color:#fff; border:1px solid #DBE2E9; color:#434343; text-decoration:none; }
/*.n-btn.x-share:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.x-r-regi:hover { background-color:#f7f7f7; }
.n-btn.x-r-regi:after { content:'\ea98'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; color:#586D83; }

/* 취소 */
.n-btn.x-cancel { background-color:#7B7B7B; color:#ffffff; }
.n-btn.x-cancel:hover { background-color:#979797; }

/* 견적서 미리보기 */
.n-btn.btn-preview { padding: 0 11px 0 30px; background-color:#fff; color:#434343; border:1px solid #CED4DA; text-decoration:none; }
/*.n-btn.btn-excel:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.btn-preview:hover { background-color:#f7f7f7; }
.n-btn.btn-preview:after { content:'\e984'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; }

/* 사이즈 */
.n-btn.small { padding: 0 20px; }

/* 선택삭제 */
.n-btn.btn-delete { padding: 0 15px 0 30px; background-color:#FEECEC; border:1px solid #dfc0c0; color:#D94646; text-decoration:none; }
/*.n-btn.btn-excel:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.btn-delete:hover { background-color:#F6E6E6; }
.n-btn.btn-delete:after { content:'\e96e'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; color:#D94646; }

/* 항목추가 */
.n-btn.btn-add { padding: 0 15px 0 30px; background-color:#00A891; color:#ffffff; text-decoration:none; }
/*.n-btn.btn-excel:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.btn-add:hover { background-color:#00BBA1; }
.n-btn.btn-add:after { content:'\e914'; display:block; position: absolute; left:10px; top: 0; font-size: 16px; font-family:'xeicon'; color:#ffffff; }

/* PDF 다운 */
.pdf-down { position: relative; display:inline-block; width: 30px; height: 30px; border-radius:3px; border:1px solid #DBE2E9; background-color: #fff; transition:all 0.15s ease-out; }
.pdf-down span { text-indent:-9999px; font-size: 0; line-height:0; }
.pdf-down:hover { background-color:#f7f7f7; }
.pdf-down:after { content:'\eb7c'; display:block; position: absolute; left:6px; top: 4px; font-size: 16px; font-family:'xeicon'; color:#586D83; }

/* s 수정 */
.s-modify { position: relative; display:inline-block; width: 30px; height: 30px; border-radius:3px; background-color: #e4effb; transition:all 0.15s ease-out; }
.s-modify span { text-indent:-9999px; font-size: 0; line-height:0; }
.s-modify:hover { background-color:#C1E1F4; box-shadow: 0 5px 10px rgb(91,114,188,0.2); }
.s-modify:after { content:'\ea39'; display:block; position: absolute; left:6px; top: 6px; font-size: 16px; font-family:'xeicon'; color:#586D83; }

/* s 저장 */
.s-save { position: relative; display:inline-block; width: 30px; height: 30px; border-radius:3px; background-color: #fff; border:1px solid #CED4DA; transition:all 0.15s ease-out; }
.s-save span { text-indent:-9999px; font-size: 0; line-height:0; }
.s-save:hover { background-color:#f7f7f7; }
.s-save:after { content:'\eb7c'; display:block; position: absolute; left:6px; top: 4px; font-size: 16px; font-family:'xeicon'; }

/* s 삭제 */
.s-delete { position: relative; display:inline-block; width: 30px; height: 30px; border-radius:3px; background-color: #FEECEC; transition:all 0.15s ease-out; }
.s-delete span { text-indent:-9999px; font-size: 0; line-height:0; }
.s-delete:hover { background-color:#F4D4D4; box-shadow: 0 5px 10px rgb(91,114,188,0.2); }
.s-delete:after { content:'\e96e'; display:block; position: absolute; left:6px; top: 4px; font-size: 16px; font-family:'xeicon'; color:#D94646; }

/* 버튼 컬러 */
.n-btn.btn-orange { width: 92px; padding: 0; background-color:#F06548; color:#ffffff; text-align:center; }
.n-btn.btn-orange:hover { background-color:#F6846C; }

.n-btn.btn-bl-green { width: 92px; padding: 0; background-color:#00A891; color:#ffffff; text-align:center; }
.n-btn.btn-bl-green:hover { background-color:#00BBA1; }

.n-btn.btn-blue { width: 92px; padding: 0; background-color:#005CA1; color:#ffffff; text-align:center; }
.n-btn.btn-blue:hover { box-shadow: 0 5px 10px rgb(91,114,188,0.4); background-color:#0078C1; }

.n-btn.btn-red { width: 92px; padding: 0; background-color:#D94646; color:#ffffff; text-align:center; }
.n-btn.btn-red:hover { background-color:#EE5D5D; }

.n-btn.btn-b-green { width: 92px; padding: 0; background-color:#ffffff; color:#17864C; border:1px solid #17864C; }
.n-btn.btn-b-green:hover { background-color:#f7f7f7; }

.n-btn.btn-green { width: 92px; padding: 0; background-color:#17864C; color:#ffffff; text-align:center; }
.n-btn.btn-green:hover { background-color:#25A160; }

.n-btn.btn-gray { width: 92px; padding: 0; background-color:#7B7B7B; color:#ffffff; text-align:center; }
.n-btn.btn-gray:hover { background-color:#919191; }

.n-btn.btn-black { padding: 0 11px; background-color:#fff; color:#434343; border:1px solid #CED4DA; text-decoration:none; }
/*.n-btn.btn-excel:hover { box-shadow: 0 5px 10px rgb(190,190,190,0.4); background-color:#ffffff; }*/
.n-btn.btn-black:hover { background-color:#f7f7f7; }

@media screen and (max-width:620px) {
	/* 버튼 기본 */
	.btn_area {padding-top:8px;}
	.btn_st, .btn_site, .btn_down {height:38px; line-height:38px; font-size:14px;}
	.btn_st {padding:0 15px}
	.btn_st2 {width:auto; height:38px; font-size:14px; line-height:38px;}
	.btn_site, .btn_down {padding:0 28px 0 12px;}
	.btn_site:after, .btn_down:after {background-size:13px auto; right:9px;}
}
/* 버튼 색상 */
.btn_navy {background:#0053a5; color:#fff;} /* 서브색상 */
.btn_navy:hover {background:#044483; }
.btn_blue {background:#3d94c9; color:#fff;} /* 서브색상 */
.btn_blue:hover {background:#2283be; color:#fff;}
.btn_sky {background:#6bafd7; color:#fff} /* 서브색상 */
.btn_sky:hover {background:#4597c7 } 
.btn_bluegray {background:#464a55; color:#fff;}
.btn_bluegray:hover {background:#111;}
.btn_orange {background:#ed8f2d; color:#fff}
.btn_orange:hover {background:#ca6e00}
.btn_brown {background:#564940; color:#fff;}
.btn_brown:hover {background:#44372e;}
.btn_dpnavy {background:#12203e; color:#fff}
.btn_dpnavy:hover {background:#222}
.btn_dpbk {background:#353c47; color:#fff}
.btn_dpbk:hover {background:#111}
.btn_red {background:#d23a3a; color:#fff;}
.btn_mint {background:#3cd19f; color:#fff;}
.btn_mint:hover {box-shadow:inset 0 -3px 0 rgba(0,0,0,0.25);}
.btn_darkgray {background:#3b3f4d; color:#fff;}
.btn_darkgray:hover {background:#222;} 
.btn_lightgray {background:#eee; color:#333; }
.btn_gray {background:#dedede; color:#333;}
.btn_grayblue {background:#86868c; color:#fff;}
.btn_grayblue:hover {background:#737379; color:#fff;}
.btn_violet {border:1px solid #8b89b7; background:#e8e8f4; color:#390a51;}

.btn_submit { padding:0 20px; height:34px; font-size:14px; font-weight:500; background-color:#2c7bb2; color:#ffffff; cursor:pointer; }
.btn_submit:hover, .btn_submit:focus { background-color:#1c6496; }

/* ************** 폼 요소 ************** */
/* FORM 기본요소 */
input::placeholder {color:#999; font-weight:300; font-size: 13px; }
textarea.textarea {padding:2px 5px; border:1px solid #d4d4d4;}
select.select {height:42px; padding:0 30px 0 7px; border:1px solid #d4d4d4; background:#fff url('../images/common/ico_arr_down.png') right 10px top 50% no-repeat; }
select.select:focus { background:#fff url('../images/common/ico_arr_up.png') right 10px top 50% no-repeat; }
select.select::-ms-expand {display:none;}
:root select.select{padding:0 30px 0 15px;}
input.text {max-width:100%; height:36px; padding:0 7px; border:1px solid #CED4DA; border-radius:3px; font-size: 14px; }
input.text.h-st1 { height:26px; }
input.num {width:60px;}
input.calender {height:42px; padding:0 7px 0 7px; border:1px solid #d2d2d2;}
input.text:hover,
select.select:hover,
textarea.textarea:hover,
input.calender:hover,
span.format > button:hover {border:1px solid #8695bb; outline:none}
input.text:focus,
select.select:focus,
textarea.textarea:focus,
input.calender:hover,
span.format > button:focus {border:1px solid #8695bb; outline:none}
input:disabled, input:read-only {border-color:rgba(0, 0, 0, 0.06) !important; background:rgba(0, 0, 0, 0.04); color:#999;}
button:disabled {opacity:0.4; cursor:default;}
.readonly, .disabled {border-color:rgba(0, 0, 0, 0.06) !important; background:rgba(0, 0, 0, 0.04); color:#999; cursor:default !important; }

select.select.small { height:36px; border-radius:3px; font-size: 13px; border:1px solid #CED4DA; cursor:pointer; }
select.select.small:hover { border:1px solid #8695bb; }

/* input size */
input.box_s { height:26px; line-height:26px; font-weight:300; }
input.box_s:valid { color:#000000; font-size:13px; }

/* 파일 */
.filebox input {position:absolute; overflow:hidden; width:1px; height:1px; margin:-1px; padding:0; clip:rect(0, 0, 0, 0);}
.filebox input + label {display:inline-block; line-height:43px; margin-right:5px; padding:0 15px; color:#444; font-size:15px; border:1px solid #444; transition:all 0.3s ease-out;}
.filebox input + label i {position:relative; top:1px; margin-right:3px; color:#222; transform:rotate(90deg); font-weight:500; font-size:16px}
.filebox ul {overflow:hidden; margin-top:5px; padding:17px 15px; background:#f6f6f6; border:1px solid #d9d9d9}
.filebox ul li {font-size:15px; color:#666}
.filebox ul li .name {display:inline-block; overflow:hidden; width:auto; max-width:calc(100% - 30px); text-overflow:ellipsis; white-space:nowrap;}
.filebox ul li .delete {display:inline-block; width:15px; height:15px; margin:2px 0 0 9px; vertical-align: top;}
.filebox ul li .delete:before, .filebox ul li .delete:after {content:''; display:block; position:absolute; width:16px; height:2px; background:#222;}
.filebox ul li .delete:before {transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.filebox ul li .delete:after {transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);} 
.filebox input:hover + label, .filebox input:focus + label { background:#5a5f71; color:#fff;}
.filebox input:hover + label i , .filebox input:focus + label i {color:#fff;}

/* 체크박스, 라디오 */
/*input.checkbox { width: 20px; height: 20px; }*/
.input { position:relative; display:inline-block}
.input label { cursor:pointer; }
.input.st1 label { position:absolute; top:-1000px; left:-10000px; overflow:hidden; font-size:1px; text-indent:-9999px; line-height:0; }
.input.st1 .checkbox, .input.st1 .radio { position: relative; left:auto; top:auto; }
.input.st1 .checkbox { width: 20px; height: 20px; }
.input:last-child { margin-right: 0; }
.checkbox, .radio { position: absolute; left: 0; top: 0; opacity: 0;}
.checkbox + label, .radio + label { padding-left:27px; }
.checkbox + label:before, .radio + label:before { position: absolute; left:0; top:0px; width:22px; height:22px;  border: 1px solid #d0d0d0; background-color:#fff; content: ''; }
.checkbox + label:after, .radio + label:after { position: absolute; left:6px; top:6px;  width:10px; height:10px; content: ''; transition: all 0.2s; }
.checkbox:checked + label:after, .radio:checked + label:after { background-color:#283593; }
.checkbox:focus + label:before, .radio:focus + label:before { outline: 1px dotted #000; }
.checkbox.disabled + label, .radio.disabled + label { cursor:default; }
.checkbox.disabled + label:before, .radio.disabled + label:before { background-color:#f5f5f5; }
.checkbox.disabled:checked + label:before, .radio.disabled:checked + label:before { background-color:#f5f5f5 }
.checkbox.disabled:checked + label:after, .radio.disabled:checked + label:after { background-color:#bfbfbf }

.radio + label:before { border-radius:100%; }
.radio + label:after { border-radius:100%; }
.checkbox:checked + label:after {}
.checkbox + label:after { left:5px; top:5px; display:none; width:12px; height:7px; border:2px solid #283593; border-top:0; border-right:0; transform:rotate(-45deg); }
.checkbox:checked + label:after { display:block; background-color:transparent; }
.checkbox.disabled:checked + label:after { border-color:#bfbfbf; background-color:transparent; }

.input.btn .checkbox + label, .input.btn .radio + label { display:inline-block; width:100%; padding:9px 20px 9px 38px; border:1px solid #d9d9d9; border-radius:3px; transition:background 0.2s ease-out; }
.input.btn .checkbox + label:hover, .input.btn .radio + label:hover, .input.btn .checkbox:focus + label, .input.btn .radio:focus + label { background:#f5f5f5 }
.input.btn .checkbox + label:before, .input.btn .radio + label:before { left:12px; top:10px; }
.input.btn .checkbox + label:after { left:17px; top:16px; }
.input.btn .radio + label:after { left:18px; top:16px; }

.input.btn .checkbox.disabled + label, .input.btn .radio.disabled + label {background-color:#f9f9f9}

@media screen and (max-width:620px) {
	/* FORM 기본요소 */
	input.text , select.select, input.disable, input.calender {height:38px !important;}

	/* 파일 */
	.filebox input + label {padding:0 8px; line-height:36px; font-size:13px}
	.filebox input + label i {margin-right:0px; font-size:15px}
	.filebox ul {margin-top:5px; padding:6px; font-size:13px}
	.filebox ul li {float:none; font-size:13px}
	
	/* 체크박스, 라디오 */
	.checkbox + label, .radio + label { padding-left:22px; }
	.checkbox + label:before, .radio + label:before { width:18px; height:18px; }
	.radio + label:after { left:5px; top:5px; width:8px; height:8px;  }
	.checkbox + label:after { left:4px; top:4px; width:10px; height:6px; }
	
	.input.btn .checkbox + label, .input.btn .radio + label { padding:9px 20px 9px 35px; }
	.input.btn .radio + label:after { left:17px; top:15px; }
}

/* ************** 그리드 스타일 ************** */
/* grid(공간없음) */
.flex {display:flex; }
.col:after {display:block; clear:both; content:'';}
.col > span {display:block; float:left;}
.col2 > span {width:50%;}
.col3 > span {width:33.333%;}
.col4 > span {width:25%;}
.col5 > span {width:20%;}
/* grid(공간있음) */
.flex-space {display:flex; }
.flex-space > span { margin-right:1%; }
/* float-grid */
.float:after {display:block; clear:both; content:'';}
.float > span {float:left}
.float.col2 > span {width:49.5%; margin-right:1%;}
.float.col2 > span:last-child {margin-right:0;}
.float.col3 > span {width:32.66%; margin-right:1%;}
.float.col3 > span:nth-child(3n) {margin-right:0;}
.float.col4 > span {width:24.25%; margin-right:1%;}
.float.col4 > span:nth-child(4n) {margin-right:0;}
@media screen and (max-width:800px) {
	/* float-grid */
	.float.col4 > span {width:49.5%; margin-right:1%; margin-bottom:5px;}
	.float.col4 > span:nth-child(2n) {margin-right:0;}
}
@media screen and (max-width:620px) {
	/* grid(공간있음) */
	.flex-space {flex-flow:wrap row}
	.flex-space > span { width:100%; margin-right:0%; margin-bottom:2%; }
	/* float-grid */
	.float.col2 > span, .float.col3 > span, .float.col4 > span {width:100%; margin-bottom:2%;}
}

/* ************** 팝업 스타일 ************** */
/* 메인-레이어 팝업 */
.idx_popup {position:absolute; z-index:800; top:94px; left:13px;}
.idx_popup .con {position:relative; border:1px solid #d9d9d9} 
.idx_popup .popup_close {position:absolute; right:10px; text-decoration:underline}
.idx_popup .popup_bar {position:relative; display:block; background:#f9f9f9; border-top:1px solid #d9d9d9; line-height:30px; padding:0 10px; font-size:14px; border:1px solid #d9d9d9; border-top:0 none}
@media screen and (max-width:620px) {
	.idx_popup {top:75px; left:0; padding:0 10px;}
	.idx_popup .popup_bar {padding:0 5px}
}
/* 레이어팝업 */
/*.layer_overlay {display:table; position:fixed; z-index:1100; top:0; left:0; width:100%; height:100%; padding:0 0; background:rgba(0,0,0,0.8);}*/
/*.layer_overlay.close {display:none}*/
.layer_overlay .btn_close { position:absolute; top:0; right:0; display:block; width:40px; height:40px; text-indent:-9999px; opacity:0.7; transition:all 0.4s ease-in-out; outline:none; } 
.layer_overlay .btn_close:hover {transform:rotate(180deg)}
.layer_overlay .btn_close:after { content:'\e921'; display:block; font-family:'xeicon'; font-size: 16px; color:#000000; text-indent:1px; }


.layer_overlay {position:fixed; top:0; left:0; z-index:9999; width:100%; height:100%; background:rgba(0,0,0,0.8); display:flex; justify-content:center; align-items: center; opacity:1; visibility:visible; transition:all 0.4s;}
.layer_overlay .mask {position:fixed; top:0; left:0; width:100%; height:100%; z-index: 10; }
.layer_overlay > div:first-child {z-index: 20;}
.layer_overlay.close, .layer_overlay.close .mask {opacity:0; visibility:hidden;}


.basic_layer {position:relative; max-width:400px; margin:0 auto;}
.basic_layer .btn_close {position:absolute; top:0; right:0; width:60px; height:60px; text-indent:-9999px; border:0 none}
.basic_layer .b_tit {height:60px; padding:19px; color:#fff; font-size:18px; text-align:left;}
.basic_layer .b_con {padding:20px; border:2px solid #2d3079; background:#fff;}
.basic_layer .b_con:after {display:block; clear:both; content:'';}
.basic_layer .b_con .b_box {margin:15px 0 0 0; padding:15px 0; border-top:1px solid #dfdfdf}
@media screen and (max-width:620px) {
	.layer_overlay {padding:5px}
	.basic_layer {max-width:100%;}
	.basic_layer .btn_close {width:52px; height:52px;}
	.basic_layer .b_tit {height:52px; padding:0 52px 0 10px; line-height:52px; font-size:17px}
	.basic_layer .b_con {padding:18px 10px}
}

/* ************** 너비/여백 스타일 ************** */
/* width */
.w100 {width:100% !important;}
.w90 {width:90% !important;}
.w80 {width:80% !important;}
.w70 {width:70% !important;}
.w60 {width:60% !important;}
.w50 {width:50% !important;}
.w45 {width:45% !important;}
.w40 {width:40% !important;}
.w30 {width:30% !important;}
.w25 {width:25% !important;}
.w20 {width:20% !important;}
.w10 {width:10% !important;}

/* 필셀 width */
.p_w10 {width:10px !important;}
.p_w20 {width:20px !important;}
.p_w30 {width:30px !important;}
.p_w40 {width:40px !important;}
.p_w50 {width:50px !important;}
.p_w60 {width:60px !important;}
.p_w70 {width:70px !important;}
.p_w80 {width:80px !important;}
.p_w90 {width:90px !important;}
.p_w100 {width:100px !important;}
.p_w150 {width:150px !important;}
.p_w200 {width:200px !important;}
.p_w250 {width:250px !important;}
.p_w300 {width:300px !important;}
.p_w350 {width:350px !important;}
.p_w400 {width:400px !important;}
.p_w450 {width:450px !important;}
.p_w500 {width:500px !important;}

/* 필셀 height */
.h_w50 {height:50px !important;}
.h_w100 {height:100px !important;}
.h_w150 {height:150px !important;}
.h_w200 {height:200px !important;}
.h_w250 {height:250px !important;}
.h_w300 {height:300px !important;}
.h_w350 {height:350px !important;}
.h_w400 {height:400px !important;}
.h_w450 {height:450px !important;}
.h_w500 {height:500px !important;}

/* margin padding */
.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}

.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}

.ml5 {margin-left:5px !important;}
.ml8 {margin-left:8px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}
.mb80 {margin-bottom:80px !important;}

.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}
.pt60 {padding-top:60px !important;}

.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr20 {padding-right:20px !important;}
.pr30 {padding-right:30px !important;}
.pr40 {padding-right:40px !important;}
.pr50 {padding-right:50px !important;}
.pr60 {padding-right:60px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb50 {padding-bottom:50px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}
.pb80 {padding-bottom:80px !important;}

@media screen and (max-width:620px) {
	.mb5 {margin-bottom:2px !important;}
	.mb10 {margin-bottom:5px !important;}
	.mb15 {margin-bottom:6px !important;}
	.mb20 {margin-bottom:10px !important;}
	.mb25 {margin-bottom:12px !important;}
	.mb30 {margin-bottom:15px !important;}
	.mb35 {margin-bottom:18px !important;}
	.mb40 {margin-bottom:20px !important;}
	.mb50 {margin-bottom:25px !important;}
	.mb60 {margin-bottom:30px !important;}
	.mb70 {margin-bottom:30px !important;}
	.mb80 {margin-bottom:30px !important;}
}

/* 스크롤 디자인 */
.scroll-st::-webkit-scrollbar {width: 5px; }
.scroll-st::-webkit-scrollbar-thumb {background-color: #6b94be;}
.scroll-st::-webkit-scrollbar-track {background-color: #ccc;}