/* *****************************************************************
 * filename : layout.css
 * description : 공통으로 들어가는 HEADER/FOOTER/GNB/LNB/SUB-TOP 등 CSS
 * date : 2023-03-21
***************************************************************** */

/* 공통 */
body { background-color:#f3f3f9; }
body.login_area #wrap { height:100vh; }
#wrap { min-width:1810px;}
#container { }

/* header */
#header { position:fixed; left:0; top:0; right:0; display:flex; align-items: center; justify-content:flex-end; height: 80px; padding: 0 20px; background:linear-gradient(to left, #2B5AAC, #3C557C); text-align:right; z-index:9999999; color:#fff;}
#header h1 {position:absolute; left:55px;} 
#header div.user-info { display:flex; align-items: center; }
#header div.user-info p.service_date { position: absolute; left:40px; top:30px; padding-left: 18px; font-weight: 500; }
#header div.user-info p.service_date:after { content:'\ea2b'; display:block; position: absolute; left:0; top:-1px; font-family:'xeicon'; font-size: 16px; }
#header div.user-info p.user_name {position:relative; padding-left:25px; margin-right:15px; font-weight:400;} 
#header div.user-info p.user_name::before{content:''; display:block; position:absolute; top:0; left:0; width:17px; height:19px; background:url(../images/common/user-round_w.svg) center center no-repeat;}
#header div.user-info div.time_box{margin-right:25px; padding:8px 12px; display:flex; align-items:center; background:#EAF3FD; border-radius:5px; color:#2b5aac; font-weight:500;}
#header div.user-info div.time_box p{position:relative; padding-left:19px; padding-right:10px; margin-right:8px;}
#header div.user-info div.time_box p::before{content:''; display:block; position:absolute; top:50%; left:0; transform:translateY(-50%); width:15px; height:16px; background:url(../images/common/time.svg) center center no-repeat;}
#header div.user-info div.time_box p::after{content:''; display:block; position:absolute; top:50%; right:0; transform:translateY(-50%); width:1px; height:12px; background:#2b5aac;}

#header div.user-info p.myinfo{padding-left:25px; margin-right:25px; position:relative;}
#header div.user-info p.myinfo::before{content:''; display:block; position:absolute; top:50%; left:0; transform:translateY(-50%); width:19px; height:20px; background:url(../images/common/mypage.svg) center center no-repeat;}

#header div.user-info p.time_area { margin-right: 50px; }
#header div.user-info p.time_area span { display:inline-block; padding: 1px 4px; margin-right: 10px; border-radius:3px; font-size:12px; color:#5564A6; background-color:#EBEDF3; }
#header div.user-info p.time_area button.st { width: 98px; height:30px; border-radius:3px; font-size:12px; color:#ffffff; background-color:#a9a9a9; transition:0.1s ease-in; }
#header div.user-info p.time_area button.st em { position: relative; display:inline-block; padding-left: 20px; font-weight: 100; }
#header div.user-info p.time_area button.st em:after { content:'\ea2c'; display:block; position: absolute; left:0; top:-2px; font-family:'xeicon'; font-size: 16px; color:#ffffff; }
#header div.user-info p.time_area button.st:hover { box-shadow: 0 5px 10px rgb(91,114,188,0.4); background-color:#005CA1; }
#header div.user-info p.logout a { position: relative; display:inline-block; padding-left:25px; font-weight: 500; }
#header div.user-info p.logout a:after {content:''; display:block; position:absolute; top:50%; left:0; transform:translateY(-50%); width:19px; height:20px; background:url(../images/common/logout.svg) center center no-repeat;}

#header div.user-info p.logout button { position: relative; display:inline-block; padding-left:25px; font-weight: 500; color:#fff;}
#header div.user-info p.logout button:after {content:''; display:block; position:absolute; top:50%; left:0; transform:translateY(-50%); width:19px; height:20px; background:url(../images/common/logout.svg) center center no-repeat;}



#header div.user-info p.date_area { margin-right: 10px; }
#header div.user-info p.date_area > span { position: relative; display:inline-block; padding-left: 20px; color:#787878; }
#header div.user-info p.date_area > span:after { content:'\e9a5'; display:block; position: absolute; left:0; top:-2px; font-family:'xeicon'; font-size: 16px; }

#aside { position: fixed; top:0; bottom:0;  width: 250px; background-color:#fff; z-index:100; }

#aside .btn_area { position: absolute; top:80px; left:250px; width:28px; height:80px; background-color:#ededed; }
#aside .btn_area span { display:block; text-indent:-9999px; }
#aside .btn_area:after { content:'\e93b'; display:block; position:absolute; left:4px; top:28px; font-size:18px; font-family:'xeicon'; color:#9b9b9b; }
#aside.open .btn_area:after { content:'\e93e'; }

.col-box .card table.board_list{padding: 0 20px; width: calc(100% - 40px); margin: 0 auto;}

/* gnb */
#gnb {margin-top:100px;}
#gnb a { display: block; color:#3d3d3d; text-decoration:none; font-weight: 100; } 
#gnb ul li a { position: relative; }
#gnb li > ul {display:block !important; max-height:0; overflow:hidden; transition:max-height 0.5s ease;}
#gnb > ul > li { position: relative; margin-bottom: 10px; }
#gnb > ul > li > a { position:relative; padding: 10px 0; padding-left: 15px; font-size:15px; font-weight:500;}
#gnb > ul > li > a:after {content:''; display:block; position: absolute; left:15px; top:50%; transform:translateY(-50%); width:22px; height:22px; background-size:contain; background-repeat:no-repeat; background-position: center center;}

#gnb > ul > li > button{ position:relative; padding: 10px 0; padding-left: 15px; font-size:15px; font-weight:500;}
#gnb > ul > li > button::after{content:''; display:block; position: absolute; left:15px; top:50%; transform:translateY(-50%); width:22px; height:22px; background-size:contain; background-repeat:no-repeat; background-position: center center;}

#gnb > ul > li.on > a, #gnb > ul > li.on > a:after, #gnb > ul > li.on ul li.on a:after, #gnb > ul > li > a:hover:after, #gnb > ul > li.on > ul > li.on > a { color:#345b9b; }
#gnb > ul > li.on > ul > li.on > a{color:#345b9b;}
#gnb > ul > li > ul { position:relative; padding:0; height:auto; max-height:0; min-height:auto; border:0; display:block !important; overflow:hidden; }
#gnb > ul > li.bg:after { content:'\e941'; display:block; position:absolute; right:20px; top:12px; font-family:'xeicon'; color:#617182; }
#gnb > ul > li.bg.hover:after, #gnb > ul > li.bg.on:after {rotate:180deg }
#gnb > ul > li.on > ul, #gnb > ul > li.hover > ul { max-height:2000px;}
#gnb > ul > li.on > ul:after { color:#ffffff; }
#gnb > ul > li > ul li a { padding: 10px 0; padding-left: 40px; font-weight:400; }
#gnb > ul > li > ul li a:after { content:'\e9c1'; display:block; position:absolute; left:27px; top:13px; font-family:'xeicon'; font-size:10px; color:#617182; }


#gnb > ul > li > ul li button{padding: 10px 0; padding-left: 40px; font-weight:400;}
#gnb > ul > li > ul li button::after{content:'\e9c1'; display:block; position:absolute; left:27px; top:13px; font-family:'xeicon'; font-size:10px; color:#617182; }

/* container contents */
#container { margin-left:250px; }
#contents { padding: 80px 0 60px 0; }

/* footer */
#footer { position: absolute; bottom:0; left: 250px; right: 0; padding: 0 20px; width:calc(100% - 250px); height: 60px; line-height:60px; color:#e7e7e7; background-color:#1b2f4f; }

div.location { display:flex; align-items: center; justify-content: space-between; height: 40px; padding: 0 20px; padding-left: ; background: #ffffff; border-bottom:1px solid #dfdfe7; }
div.location > h2 { font-weight: 500; }
div.location dl { display:flex; color:#666666; }
div.location dl dd { position: relative; padding-left: 30px; }
div.location dl dd:after { content:'\e940'; display:block; position: absolute; left:10px; top:3px; font-family:'xeicon'; font-size: 12px; color:#bfbfbf; }
div.location dl dd:last-child { color:#000000; }

#aside.open { left:-250px; }
#header.open, #footer.open { left:0; width:100%}
#container.open { margin-left:0; }