/* *****************************************************************
 * filename : reset.css
 * description : 절대 수정 추가 X (수정/추가 문의 ㅣ 일시적으로 변경하는건 common.css로) 
 * date : 2021-01-13
****************************************************************** */

/*html { overflow-y:scroll; }*/
html { position: relative; min-height:100%; min-width:1630px; }
html, a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd,
keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, td, tfoot, thead, th, tr, td, video, tt, u, ul, var, input, :after, :before {margin:0; padding:0; border:0; font:inherit; font-size:100%; vertical-align:baseline; box-sizing:border-box;}

body {color:#333; font-size:85%; line-height:1.5em; -webkit-text-size-adjust:none; word-break:keep-all; word-wrap:break-word; }

h1, h2, h3, h4, h5, h6, table, tr, th, td, input, button, select, textarea {font-size:1em; box-sizing:border-box;}
body, input, button, select, textarea, sub {font-family:"돋움", dotum, Helvetica, sans-serif; -webkit-text-size-adjust:none;}
cite, address, optgroup {font-style:normal;}
kbd, samp, code {font-family:monospace;}

a {color:inherit;}
a:link, a:visited, a:focus, a:active {text-decoration:none;}
a:hover {text-decoration:underline;}

button, label {cursor:pointer;}
button { padding:0; border:none; background:transparent; }
code {display:block;}

legend, hr {position:absolute; top:0; left:0; overflow:hidden;}
legend, hr, caption {overflow:hidden; width:0; height:0; font-size:0; line-height:0;}

img, input, button, select, textarea, th, td {vertical-align:middle;}
img, fieldset {border:0;}
img { max-width:100%; }
ul, ol {list-style:none;} 
abbr, acronym {border-bottom:1px dotted black; cursor:help;}
table {width:100%; table-layout:fixed; border-collapse:collapse; border-spacing:0;}
strong {font-weight:bold;}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:""; content:none;}

input[type="text"], input[type="password"], input[type="submit"], input[type="tel"], input[type="email"], input[type="file"], textarea, select { -webkit-appearance:none; border-radius:0; }
input[type="radio"], input[type="checkbox"] { border:1px solid #b9b9b9; }
input[type="file"] {width:100%;}

/* 배경출력 */
* {-webkit-print-color-adjust:exact;}

/* 숨김 */
ul#skipToContent {position:absolute; top:0; left:0; z-index:10000; width:100%; height:0;}
ul#skipToContent li {position:absolute; z-index:10000; top:0; left:0; width:100%; }
ul#skipToContent li a {display:block; position:absolute; z-index:10000; top:-10000px; left:0; color:#fff; font-size:0; text-align:center;}
ul#skipToContent li a:focus,ul#skipToContent li a:active {top:0px; width:100%; padding:15px 0; font-size:1em; background-color:#0054A6}

